body {
  margin: 0;
  min-height:100vh;
  font-family:Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight:700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/dinetable.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:100% 100%;
 

  }


  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
